<head>
	<title>NodeJS Lab | moigonz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/jquery/jquery.js"></script>
	<script type="text/javascript" src="/twig/twig.js"></script>
	<script type="text/javascript" src="/js/app.js" defer></script>
</head>