<!DOCTYPE html>
<html>
{% include 'partials/header.twig' %}
<body>

	<h1>waddup</h1>

	<section data-el-ajax="blogposts">
		<input id="rendered_posts_ep" type="hidden" value="{{rendered_posts_ep}}"> 
		{% include 'partials/blogposts.twig' %}
	</section>

</body>
</html>