@import 'bootstrap-flex.min.css';
@import 'bootstrap-grid.min.css';
@import 'bootstrap-reboot.min.css';
@import 'bootstrap.min.css';

.hero {
	text-align: center;
}

.dat-boi:before {
	content: '';
	height: 300px;
	width: 230px;
	display: block;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	background-image: url('../images/dat_boi.gif');
}

[data-el-ajax] {
    -webkit-transition: opacity 0.5s ease-in-out; /* Safari */
    transition: opacity 0.5s ease-in-out;
}

[data-el-ajax].show {
	opacity: 1;
}

.m-placeholder > * {
	margin-top: 15px;
}

.a-placeholder--text {
	display: block;
	height: 10px;
	background-color: grey;
	width: 100%;
}

.a-placeholder--title {
	display: block;
	height: 20px;
	background-color: grey;
	width: 100%;
}

